/*use this to make header file beautiful*/
body {
	background-color: blue;
	/*adds a double lined boder around body*/
	border-style: double;
	border-color: white;
}
nav{
	width: 174px;
	height: 56px;
	color: black;
	border-style: double;
	border-color: white;
	padding-top: 0px;
	padding-bottom: -4px;
	background-color: grey;
	box-shadow: 10px 10px 5px #6600CC;
	text-align: center;
	line-height: 30px;
}

div {
	/*adds a double lined boder around div*/
	border-style: double;
	border-color: white;
	

}
@media screen and(min-width: 320px) {
	body{
		background-color: red;
	}

}