/*use this to make header file beautiful*/
h1{
	text-align: center;
	color: white;

}
body {
	    background-image: url("http://www.access4.eu/_media/home_hg.jpg");
	    background-repeat: no-repeat;
	/*adds a double lined boder around body*/
		border-style: double;
		border-color: white;
}
#title1{
	box-shadow: 10px 10px 5px #3080B4;
}

label{
	font-size: 20px;
	color: white;
	padding-bottom: 20px;
}	
.post{
	padding: 50px;
}

textarea{
	box-shadow: 25px 25px 15px #3080B4;
}
button:hover{
	color: violet;
}
nav{
	width: 174px;
	height: 56px;
	color: black;
	border-style: double;
	border-color: white;
	padding-top: 0px;
	padding-bottom: -4px;
	background-color: grey;
	box-shadow: 10px 10px 5px #3080B4;
	text-align: center;
	line-height: 30px;
}
nav:hover{
	width: 190px;
	height: :90px;
	font-size:20px;
	list-style-image: url("http://www.aums.org.au/images/right.gif");
	list-style-position: outside;
}

a{
	color: purple;
}
a:hover{
	color: yellow;
}

div {
	/*adds a double lined boder around div*/
	border-style: double;
	border-color: white;
	

}
/* media query for iphone 3gs-6+, blackberryZ10 & Z30, google nexus 4-5, google nexus s, galaxy note 1-3, samsung galaxy  */
@media (max-width: 767px) {
	body{
		background-color: red;
		
	}

}
/*media query for galaxy tab ipad 1-4 & mini, blackberry playbook*/
@media (min-width: 992px) and (max-width: 1199px) {
	body{
		background-color: blue;
	}
}