/*use this to make header file beautiful*/
body {
	background-image: url("http://upload.wikimedia.org/wikipedia/commons/0/0a/Blue_sky_south_of_France.jpg");
	/*adds a double lined boder around body*/
	border-style: double;
}
nav{
	width: 174px;
	height: 51px;
	color: gold;
	background-color: grey;
	box-shadow: 10px 10px 5px #6600CC;
	text-align: center;
	line-height: 30px;
}
div {
	/*adds a double lined boder around div*/
	border-style: double;
	
}
@media screen and (max-width:959px) {
	body{
		width: 90%;
	}
}